
/*

try this:
http://tympanus.net/Development/AnimatedGridLayout/

*/

/*

TODO : Move all of this to LESS files or PostCSS

*/


/* Replace this with Larsseit or something else: */
/* @import url(https://fonts.googleapis.com/css?family=Arimo); */

/* Color */
[href*=medium]:hover {
  border-bottom-color: #34AA45;
  color: #34AA45;
}
[href*=projector]:hover {
  border-bottom-color: #0345CF;
  color: #0345CF;
}
[href*=pinterest]:hover {
	/* background-color: rgba(230, 0, 35, 0.10); */
  border-bottom-color: #E60023;
  color: #E60023;
}
[href*=chartbeat]:hover {
  border-bottom-color: #34B2B2;
  color: #34B2B2;
}
[href*=kernandlead]:hover {
  border-bottom-color: #EC008B;
  color: #EC008B;
}
[href*=frogdesign]:hover {
  border-bottom-color: #46BD00;
  color: #46BD00;
}
[href*=google]:hover {
  border-bottom-color: #186DEE;
  color: #186DEE;
}
[href*=linkedin]:hover {
  border-bottom-color: #0077b5;
  color: #0077b5;
}


html,
body {
	background-color:#FFFCF5;
	font-family: system, -apple-system, BlinkMacSystemFont, Roboto, sans-serif;
	font-size: 21px;
	font-weight: 400;
	vertical-align: baseline;
}

body {
	color: rgba(0,0,0,0.6);
	line-height: 1.5;
	margin: 0;
	padding: 2rem;
}

h1, h2, h3, h4, p {
	max-width: 30em;
}

h1, h2 {
	font-size: 1.2em;
	font-weight: 600;
	margin-bottom: 1rem;
}

h3, h4 {
	font-weight: 500;
}

h2 {
	margin-top: 2rem;
}

h3 {
	font-size: 1.2rem;
}

p {
	font-size: 1.2rem;
	margin: 1rem 0;
}

header h1 {
	margin-top: 0;
}

.lead {
  font-family: serif;
	font-size: 2rem;
	line-height: .75;
	margin-bottom: 1rem;
}

img {
	max-width: 100%;
}

a {
  border-bottom: 0.08em solid rgba(0,0,0,0.1);
	color: rgba(0,0,0,0.6);
	text-decoration: none;
	white-space: nowrap;
}
	a:hover {
		border-bottom-color: rgba(0,0,0,0.6);
	}

footer {

}

.external-links {
	
}
  .external-links > * {
		color: rgba(0,0,0,0.4);
		display:inline-block;
		margin-right: .5rem;
  }




.box {
	margin-bottom: 4rem;
}

/* grid */
.row {
	display: flex;
	flex-flow: row wrap;
	margin-left: -10px;
	margin-right: -10px;
}
.column {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	padding: 10px;
}

.column img {
	display: block;
	width: 100%;
}


/* ui */
.card {

}
.card:hover {
   box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.24);
}
