
/*

try this:
http://tympanus.net/Development/AnimatedGridLayout/

*/

/*

TODO : Move all of this to LESS files or PostCSS

*/


@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600|Lato:400,700|Merriweather:300,300italic);

/* Color */

/*[href*=chartbeat] { color: #5CC4BE; }
[href*=kernandlead] { color: #EC008B; }
[href*=frogdesign] { color: #46BD00; }
[href*=google] { color: #186DEE; }*/
/*[href*=google]:first-child,
[href*=google]:nth-child(2) { color: #186DEE; }
[href*=google]:last-child,
[href*=google]:nth-child(1) { color: #186DEE; }
[href*=google]:nth-child(3) { color: #FFC500; }
[href*=google]:nth-child(5) { color: #00A66A; }*/

body {
	color: rgba(0,0,0,0.6);
	margin: 0;
	padding: 0;
	font-family: 'Source Sans Pro', 'Lucida Grande', Arial, sans-serif;
	font-weight: 400;
	vertical-align: baseline;
}

h1, h2, h3, h4, p {
	max-width: 40em;
}

h1, h2, h3, h4 {
	/*color: rgba(0,0,0,0.6);*/
	font-family: 'Merriweather', serif;
}

h1, h2, h3 {
	font-weight: 300;
}

h1 {
	font-size: 1.5em;
	line-height: 1.16666666666667;
	margin: 1em 0;
}

p,
.lead {
	line-height: 1.4;
	margin: 1em 0;
}

p {
	font-size: .875em;
}

.lead {
	font-family: 'Merriweather', serif;
	font-size: 1em;
	font-size: 1rem;
	font-style: italic;
}

.caption {
	font-size: .8125em;
	font-size: .8125rem;
	color: rgba(0,0,0,0.4);
}

section {
	/*padding: 32px 80px;*/
}

img {
	max-width: 100%;
}

a {
	color: rgba(0,0,0,0.8);
	font-weight: 600;
	text-decoration: none;
	white-space: nowrap;
}
	a:hover {
		border-bottom: 1px solid;
	}

#intro {
	background: #efefef url(../images/bg.png) no-repeat;
	background-size: cover;
	box-sizing: border-box;

	/*Flex*/
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	-webkit-box-align: center;
	align-items: center;
	-webkit-justify-content: flex-start;
	justify-content: flex-start;
	height: 100vh;
}

.avatar {
	border-radius: 50%;
	box-shadow: 0 1px 2px rgba(255, 0, 0, 0.16);
	/*-webkit-filter: drop-shadow(0 1px 2px rgba(0,0,0,0.2));
	filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));*/
	overflow: hidden;
}
	.avatar img {
		max-height: 100%;
		transition: all 0.2s;
	}
/*	.avatar:hover img {
		visibility: hidden;
	}*/

#intro .avatar {
	height: 128px;
	margin-bottom: 32px;
	overflow: hidden;
	width: 128px;
}

#intro .content h1 {
	margin-top: 0;
}

.external-links {
	margin-top: 32px;
}

.external-links a {
	border-radius: 50%;
	display: inline-block;
	position: relative;
	height: 40px;
	width: 40px;
	-webkit-transition: all .125s;
	transition: all .125s;
}
.external-links a:first-child {
	margin-left: -12px;
}

	.external-links a:hover {
		background-color: rgba(0,0,0,0.08);
		border: none;
	}

.external-links svg {
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -8px 0 0 -8px;
	opacity: 0.6;
	/*-webkit-transition: fill 0.125s;
	transition: fill 0.125s;*/
}

/*.external-links a:hover svg {
	opacity: 1;
}

.external-links a:hover path#Linkedin {
	fill: #0077b5;
}*/

/* Projects */
.placeholder-img {
	display: inline-block;
	width: 100%;
	height: 256px;
	background-color: rgba(0,0,0,0.02);
}

.article-header,
.article-content,
.section-content {
	max-width: 1280px;
	/*margin: auto;*/
	padding: 32px 80px;
}

/* grid */
.grid {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	flex-flow: row wrap;
}
.grid-item {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
}


/* ui */
.card {

}
.card:hover {
   box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.24);
}
