
/*

try this:
http://tympanus.net/Development/AnimatedGridLayout/

*/

/*

TODO : Move all of this to LESS files or PostCSS

*/


@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600|Lato:400,700|Merriweather:300,300italic);

/* Color */

[href*=chartbeat] { color: #5CC4BE; }
[href*=kernandlead] { color: #EC008B; }
[href*=frogdesign] { color: #46BD00; }
[href*=google] { color: #186DEE; }
/*[href*=google]:first-child,
[href*=google]:nth-child(2) { color: #186DEE; }
[href*=google]:last-child,
[href*=google]:nth-child(1) { color: #186DEE; }
[href*=google]:nth-child(3) { color: #FFC500; }
[href*=google]:nth-child(5) { color: #00A66A; }*/

body {
	color: rgba(0,0,0,0.5);
	margin: 0;
	padding: 0;
	font-family: 'Source Sans Pro', 'Lucida Grande', Arial, sans-serif;
	font-weight: 400;
}

h1, h2, h3, h4 {
	font-family: 'Merriweather', serif;
}

h1, h2, h3 {
	font-weight: 300;
}

h1 {
	font-size: 32px;
}

p,
.lead {
	max-width: 40em;
	line-height: 1.4;
}

p {
	font-size: 16px;
}

.lead {
	font-family: 'Merriweather', serif;
	font-size: 15px;
	font-style: italic;
}

.caption {
	font-size: 13px;
	color: rgba(0,0,0,0.4);
}

section {
	/*padding: 32px 80px;*/
}

img {
	max-width: 100%;
}

a {
	color: rgba(0,0,0,0.6);
	font-weight: 600;
	text-decoration: none;
	white-space: nowrap;
}
	a:hover {
		border-bottom: 1px solid;
	}

#intro {
	background: #efefef url(../images/bg.png) no-repeat;
	background-size: cover;
	box-sizing: border-box;

	/* move to a less mixin */
	display: -webkit-box;
  	display: -moz-box;
  	display: -ms-flexbox;
  	display: -webkit-flex;
  	display: flex;

	-webkit-align-items: center;
	align-items: center;
	height: 100vh;
}

#intro .section-content {
	/* move to a less mixin */
	display: -webkit-box;
  	display: -moz-box;
  	display: -ms-flexbox;
  	display: -webkit-flex;
  	display: flex;

  	-webkit-justify-content: space-between;
  	justify-content: space-between;
}

.avatar {
	border-radius: 50%;
	filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
	/*-webkit-filter: drop-shadow(0 1px 2px rgba(0,0,0,0.2));*/
	height: 128px;
	overflow: hidden;
	width: 128px;
}
	.avatar img {
		max-width: 100%;
		transition: all 0.2s;
	}
/*	.avatar:hover img {
		visibility: hidden;
	}*/

#intro .avatar {
	margin-right: 64px;
}

#intro .content h1 {
	margin-top: 0;
}

.external-links {
	margin-top: 40px;
}

.external-links a {
	display: inline-block;
	height: 40px;
	width: 40px;
}
	.external-links a:hover {
		border: none;
	}

.external-links svg {
	opacity: 0.48;
}
	.external-links a:hover svg {
		fill: red;
	}

/* Projects */
.placeholder-img {
	display: inline-block;
	width: 100%;
	height: 256px;
	background-color: rgba(0,0,0,0.02);
}

.section-content {
	max-width: 1280px;
	margin: auto;
	padding: 32px 80px;
}

/* grid */
.grid {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	flex-flow: row wrap;
}
.grid-item {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
}


/* ui */
.card {

}
.card:hover {
   box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.24);
}
